**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitlab-ci.yml
**/.mypy_cache
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/build
**/charts
**/cicd-support
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/tests
**/util
**/values.dev.yaml
**/{UTLTITY_NAME_LOWER}
**/README.md
**/CHANGELOG.md
**/project-cfg*
**/requirements.txt
